body{
  color: #5C5C5C;
  font-family: Charter, serif;
  overflow-y:scroll;
}

h1,h2,h3{
  margin:5px auto;
}

a {
  text-decoration:none;
  color:blue;
}
a:hover{
  text-decoration:underline;
}

ul{
  padding-left:1.5em;
}

.flex {
  display:flex;
  flex-wrap:wrap;
}

main{
  display:grid;
  grid-template-columns:60% 40%;
  grid-gap:2px;
}

main > div{
  border-bottom:1px solid #ccc;
  border-right:1px solid #ccc;
}
