body{
  color: #5C5C5C;
  font-family: Charter, serif;
  overflow-y:scroll;
}

/*
58 bytes of css to look great nearly everywhere
https://jrl.ninja/etc/1/
*/
main {
  max-width:80ch;
  padding:1rem;
  margin:auto;
}

hr{
  border:none;
  border-bottom:1px solid #ccc;
}

h1,h2,h3{
  margin:5px auto;
}

a {
  text-decoration:none;
  color:blue;
}
a:hover{
  text-decoration:underline;
}

ul{
  padding-left:1.5em;
}

.flex {
  display:flex;
  flex-wrap:wrap;
}
